<h1>Edit an Existing Landmark</h1>

<form action="/landmarks/<%=@landmark.id%>" method="post">
  <input id="hidden" type="hidden" name="_method" value="patch">
  <label>Name:</label>
  <p><%= @landmark.name %></p>
  <br></br>
  <input type="text" name="landmark[name]" id="name">
  <br></br>

  <label>Year Completed:</label>
  <p><%= @landmark.year_completed %></p>
  <br></br>
  <input type="text" name="landmark[year_completed]" id="year_completed">
  <br></br>

  <input type="submit" value="Edit Landmark">
</form>
